<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="#home">Wikinimous</a>
      <a class="right"> <%= link_to 'Create new post', new_article_path %> </a>
    </div>

   <div class="container">
    <%= yield %>
   </div>

  </body>
</html>
